body {
    background: black;
}

.main {
    width: 1400px;
    height:13121px;
    background: #000 url("background.png");
    margin: 0 auto 0 auto; 
}

.navigation {
 background-image: url("background home.jpg");
 background-repeat: no-repeat;
 background-position: center;
 min-height: 595px;
}

.polygon {
    position: absolute;
    color: white;
}

.polyline {
    position: absolute;
}

.logo a{
    font-size: 28px;
    color: white;
    margin-top: 25px;
    margin-left: 255px;
    position: absolute;
    text-decoration: none;
}

.nav-list {
height: 60px;
width: 1190px;
margin: 0 auto;
text-align: center;
background-color: rgba(0, 0, 0, 0.7);
vertical-align: middle;
}

.nav-list-bottons { 
height: 100%;
}

.home-page-navigation {
margin: 0px;
list-style: none;
height: 100%;
}

.home-page-nav-link {
display: inline-block;
height: 100%;
margin-right: 25px;
color: rgb(184, 185, 184);
font-size: 14px;
font-family: sans-serif;
}

.home-page-navigation li:first-child {
    margin-left: 255px;
}

.home-page-nav-link a {
    display: inline-block;
    position: relative;
    line-height: 60px;
    padding: 0px;
   color: inherit;
   text-decoration: none;
}

.home-page-nav-link a:hover {
   color: white;
}

.home-page-nav-link a:hover::after {
content: "";
display: block;
position: absolute;
top: 0px;
left: 50%;
width: 25px;
height: 54px;
margin-left: -12.5px;
border-bottom: 3px solid #FF0036;
border-top: 3px solid #FF0036;
}

.slider {
    border: 1px solid white;
}

.slider-text {
display: block;
text-align: center;
margin-top: 220px;
}

h1 {
    color: #FF0036;
}

.text {
    color: white;
}

.upper-button {
    font-size: 35px;
    color: rgb(184, 185, 184);
    font-weight: bolder;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
}

.upper-button-left {
    position: relative;
    left: 130px;
    top: -265px;
}

.upper-button-right {
    position: relative;
    left: 1210px;
    top: -265px;
}

.down-button {
    width: 145px;
    height: 45px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    background-color: #292928;
    border: none;
    outline: none;
    cursor: pointer;
}

.down-button-left {
    position: relative;
    left: 470px;
    top: -225px;
}

.down-button-right {
    position: relative;
    left: 490px;
    top: -225px;
}

.upper-button-left:hover ~ .down-button-left,
.upper-button-right:hover ~ .down-button-right,
.down-button-left:hover, 
.down-button-right:hover {
    background-color: #FF0036;
}

.down-button-left:hover ~ .upper-button-left, 
.down-button-right:hover ~ .upper-button-right, 
.upper-button-left:hover,
.upper-button-right:hover {
    color: #FF0036;
}